<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>

  <title>files / <%= status %></title>
</head>

<body>
  <div class="container vertical-parent">
    <div class="vertical-child">
      <span class="<%= status %>">
        <% if (locals.head) { %> <b> <%= head %> </b> <% } %>
        <%= message %>
      </span></br>

      <% if (locals.files) { files.forEach(file => { %>
        <a href="/files/<%= file.filename %>">/<%= file.filename %></a>, 
        <%= file.mimetype %> (<%= file.encoding %>), <%= file.size %> bytes
        </br>
      <% })} %>

      <small><a href="/">back</a></small>      
    </div>
  </div>
</body>

</html>