<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>

  <title>files / <%= status %></title>
</head>

<body>
  <div class="container vertical-parent">
    <% if (locals.message) { %>
      <div class="twelve columns">
        <p class="<%= status %>">
          <% if (locals.head) { %> <b> <%= head %> </b> <% } %>
          <%= message %>
        </p>
      </div>
    <% } %>

    <% if (locals.files) { %>
      <div class="twelve columns">      
        <p>
          <% files.forEach(file => { %> 
            <a href="./<%= file.filename %>">/<%= file.filename %></a>, 
            <%= file.mimetype %> (<%= file.encoding %>), <%= file.size %> bytes
            </br>
          <% }) %>
        </p>
      </div>
    <% } %>
  </div>
</body>

</html>