<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>

  <title>files / <%= status %></title>
</head>

<body>
  <div class="container vertical-parent">
    <% if (locals.message) { %>
      <p class="<%= status %>">
        <% if (locals.head) { %> <b> <%= head %> </b> <% } %>
        <%= message %>
      </p>
    <% } %>

    <% if (locals.files) { %>
      <p>
        <% files.forEach(file => { %> 
          <a href="./<%= file.filename %>">/<%= file.filename %></a>, 
          <%= file.mimetype %> (<%= file.encoding %>), <%= file.size %> bytes
          </br>
        <% }) %>
      </p>
    <% } %>
  </div>
</body>

</html>